@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* background-color: black; */
  overflow-x: hidden;
}

.moodboardpage-container {
  background-color: #fff;
  color: #131316;
  height: 100vh;
}

.moodboardpage-content-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}

.moodboardpage-header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #131316;
  font-weight: bold;
  cursor: pointer;
}

.header {
  cursor: pointer;
}